.game-container {
    background-color: black;
    border: 1px solid white;
    position: relative;
    width: 600px;
    height: 600px;
    overflow: hidden;
}

.pontuacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.valor-pontuacao {
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -10px;
}

.menu {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.pontuacao-final {
    font-weight: 500;
    font-size: 1.5rem;
}

.dificuldade {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    cursor: pointer;
}

select.dificuldade:hover {
    background-color: gray;
    border-color: white;
}
  
select.dificuldade:focus {
    border-color: #ffffff;
    background-color: lightgray;
}

select.dificuldade option {
    background-color: lightgray;
    color: black;
    font-size: 16px;
}

.btn-jogar {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}