@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.game-container {
    background-color: black;
    border: 1px solid white;
    position: relative;
    width: 600px;
    height: 600px;
    overflow: hidden;
}

.pontuacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.valor-pontuacao {
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -10px;
}

.menu {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.pontuacao-final {
    font-weight: 500;
    font-size: 1.5rem;
}

.dificuldade {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    cursor: pointer;
}

select.dificuldade:hover {
    background-color: gray;
    border-color: white;
}
  
select.dificuldade:focus {
    border-color: #ffffff;
    background-color: lightgray;
}

select.dificuldade option {
    background-color: lightgray;
    color: black;
    font-size: 16px;
}

.btn-jogar {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.snake-head, .snake-body {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #0f0;
    box-shadow: 0 0 5px #0f0;
  }

  .snake-body {
    background-color: #0c0;
  }

  .comida {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 5px #f00;
  }
